/* body {
    background-color: rgb(105, 105, 105) !important;
    text-decoration-color: white !important;
} */

/* .ad-slot-header {
    display: none !important;
}

section .layout__rail .layout-with-rail__rail{
    display: none !important;
}

div .video-playlist {
    display: none !important
} */

/* 
#content {
    background-color: black !important;
    color: white !important;
}

a {
    color: rgb(224, 103, 123) !important;
} */